/* FAVORITE POPUP */

.listing-card-wrapper {
  position: relative;
}

.favorite-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgba(0, 0, 0, 0.75);
  color: white;

  padding: 10px 18px;
  border-radius: 20px;

  font-size: 14px;
  font-weight: 500;

  pointer-events: none;

  animation: fadePopup 1.8s ease;
}

@keyframes fadePopup {
  0% {
    opacity: 0;
    transform: translate(-50%, -40%);
  }

  20% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}